body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #CDCDCD;
  background-color: #302723;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  color: #;
}

.button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.site-navigation {
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
}

.site-navigation li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: #CDCDCD;
  text-decoration: none;
}


.banner-info p:first-child {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 44px;
  line-height: 57px;
  font-weight: 400;
  color: #FFFFFF;
}

.banner-info p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #CDCDCD;
}

.banner-button {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #292929;
  background-color: #F1CDB3;
}

.couzy-info {
  background-color: #FAFAFA;
}

.couzy-info-heading {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
}

.couzy-info p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #4C4C4C;
}

.pets {
  font-family: Georgia, "Times New Roman", serif;
  background-color: #F6F6F6;
}

.pets h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
}

.pet-name {
  font-size: 20px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  text-decoration: none;
}

.pet-button {
  font-size: 17px;
  line-height: 57px;
  font-weight: 400;
  color: #292929;
  text-decoration: none;
}

.rest-pets-button {
  font-size: 17px;
  line-height: 57px;
  font-weight: 400;
  color: #292929;
  background-color: #F1CDB3;
  text-decoration: none;
}

.help-to-pets {
  font-family: Georgia, "Times New Roman", serif;
  background-color: #FAFAFA;
}

.help-to-pets h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
}

.help-list li {
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #545454;
}

.donation {
  background-color: #F6F6F6;
  font-family: Georgia, "Times New Roman", serif;
}

.donation span {
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
}

.bank-account {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #545454;
}

.bank-account span {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 20px;
  line-height: 45px;
  font-weight: 400;
  color: #292929;
}

.additional-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #B2B2B2;
}

.main-footer {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 20px;
  line-height: 45px;
  font-weight: 400;
  color: #F1CDB3;
}

.main-footer h2 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #FFFFFF;
}

.main-footer li {
  list-style: none;
}
