body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #CDCDCD;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
  color: #;
}

.button {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.main-header {
  background-color: #2B2221;
  background-image: url("../img/banner-pet.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

/*Центровщик*/
.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
}

.main-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-left: 492px;
}

.site-navigation li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.site-navigation a {
  color: #CDCDCD;
  text-decoration: none;
  padding-bottom: 4px;
  margin-left: 35px;
}

.site-navigation a:hover {
  color: #FFFFFF;
  border-bottom: 3px solid #F1CDB3;
}

.banner-info {
  width: 450px;
  padding-top: 205px;
  padding-bottom: 270px;
}

.banner-info p:first-child {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 44px;
  line-height: 57px;
  font-weight: 400;
  color: #FFFFFF;
}

.banner-info p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #CDCDCD;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.banner-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  color: #292929;
  background-color: #F1CDB3;
  padding: 16px 44px;
  margin-top: 35px;
  border-radius: 30px;
}

.banner-button:hover {
  background-color: #FDDCC4;
}

.couzy-info {
  background-color: #FAFAFA;
}

.couzy-info .container {
  background-image: url("../img/pets.jpg");
  background-repeat: no-repeat;
  background-position: top 51% left 19.1%;
  padding-top: 87px;
  padding-bottom: 100px;
}

.info-wrapper {
  width: 420px;
  margin-left: 585px;
}

.couzy-info-heading {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 4px;
}

.couzy-info p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #4C4C4C;
  padding-top: 10px;
}

.pets {
  font-family: Georgia, "Times New Roman", serif;
  background-color: #F6F6F6;
}

.forward {
  position: relative;
}

.forward::before {
  content: "";
  position: absolute;
  top: 180px;
  left: -40px;
  width: 47px;
  height: 47px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background-image: url("../img/long-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 50% center;
}

.forward:hover::before {
  background-color: #F1CDB3;
}

.pets h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 47px;
  margin: 0;
  padding-right: 30px;
}

.pets-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.pet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #FAFAFA;
  padding-bottom: 30px;
}

.pet:hover {
  -webkit-box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
  box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
}

.pet:nth-child(2) {
  margin-left: 90px;
}

.pet:nth-child(3) {
  margin-left: 50px;
}

.pet:nth-child(4) {
  margin-left: 50px;
}

.pet-name {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 20px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  text-decoration: none;
  text-align: center;
}

.pet-button {
  padding: 12px 41px 14px 41px;
  margin-left: 40px;
  font-size: 17px;
  line-height: 57px;
  font-weight: 400;
  color: #292929;
  text-decoration: none;
  border: 2px solid #F1CDB3;
  border-radius: 30px;
}

.pet-button:hover {
  background-color: #F1CDB3;
}

.back {
  position: relative;
}

.back::after {
  content: "";
  position: absolute;
  top: 180px;
  left: 80px;
  width: 47px;
  height: 47px;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  background-image: url("../img/long-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 50% center;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.back:hover::after {
  background-color: #F1CDB3;
}

.rest-button-wrapper {
  margin-top: 65px;
  padding-bottom: 65px;
}

.rest-pets-button {
  padding: 15px 50px;
  font-size: 17px;
  line-height: 57px;
  font-weight: 400;
  color: #292929;
  background-color: #F1CDB3;
  text-decoration: none;
  border-radius: 30px;
  margin-left: 450px;
}

.rest-pets-button:hover {
  background-color: #FDDCC4;
}

.help-to-pets {
  font-family: Georgia, "Times New Roman", serif;
  background-color: #FAFAFA;
}

.help-to-pets h2 {
  margin: 0;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 60px;
  padding-right: 35px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
}

.help-to-pets ul {
  margin: 0;
}

.help-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 13px;
}

.help-list li {
  position: relative;
  padding-top: 95px;
  padding-bottom: 65px;
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #545454;
}

.food {
  margin-left: 45px;
}

.ambulance {
  margin-left: 125px;
}

.toys {
  margin-left: 149px;
}

.bowl {
  margin-left: 140px;
}

.shampoo {
  margin-left: 120px;
}

.vitamins {
  margin-left: 145px;
}

.medcine {
  margin-left: 130px;
}

.collar {
  margin-left: 125px;
}

.house {
  margin-left: 130px;
}

.help-list li::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
}

.help-list li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
  top: 13px;
  left: 17px;
  background-image: url("../img/cat-food.png");
  background-repeat: no-repeat;
}

.help-list li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
  top: 10px;
  left: 40px;
  background-image: url("../img/ambulance.png");
  background-repeat: no-repeat;
}

.help-list li:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
  top: 10px;
  left: -10px;
  background-image: url("../img/ambulance.png");
  background-repeat: no-repeat;
  background-image: url("../img/ball.png");
  background-repeat: no-repeat;
}

.help-list li:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
  top: 13px;
  left: 50px;
  background-image: url("../img/ambulance.png");
  background-repeat: no-repeat;
  background-image: url("../img/bowl.png");
  background-repeat: no-repeat;
}

.help-list li:nth-child(5)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
  top: 11px;
  left: 35px;
  background-image: url("../img/ambulance.png");
  background-repeat: no-repeat;
  background-image: url("../img/shampoo.png");
  background-repeat: no-repeat;
}

.help-list li:nth-child(6)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
  top: 13px;
  left: 15px;
  background-image: url("../img/ambulance.png");
  background-repeat: no-repeat;
  background-image: url("../img/pills.png");
  background-repeat: no-repeat;
}

.help-list li:nth-child(7)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
  top: 12px;
  left: 20px;
  background-image: url("../img/ambulance.png");
  background-repeat: no-repeat;
  background-image: url("../img/syringe.png");
  background-repeat: no-repeat;
}

.help-list li:nth-child(8)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
  top: 13px;
  left: 50px;
  background-image: url("../img/ambulance.png");
  background-repeat: no-repeat;
  background-image: url("../img/leash.png");
  background-repeat: no-repeat;
}

.help-list li:nth-child(9)::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 65px;
  top: 13px;
  left: 38px;
  background-image: url("../img/ambulance.png");
  background-repeat: no-repeat;
  background-image: url("../img/cat.png");
  background-repeat: no-repeat;
}

.donation {
  background-color: #F6F6F6;
  font-family: Georgia, "Times New Roman", serif;
}

.donation .container {
  background-image: url("../img/donation-dog.png");
  background-repeat: no-repeat;
  background-position: left 2.5% top 50%;
}

.donation-wrapper {
  margin-left: 583px;
  margin-right: 200px;
}

.donation h2 {
  padding: 0;
  margin: 0;
  padding-top: 64px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
}

.bank-account {
  padding: 0;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 13px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  color: #545454;
}

.bank-numbers {
  padding: 0;
  margin: 0;
  position: relative;
  width: 235px;
  padding-left: 60px;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 20px;
  line-height: 45px;
  font-weight: 400;
  color: #292929;
  background-color: #F1CDB3;
  border-radius: 10px;
}

.bank-numbers::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 25px;
  top: 10px;
  left: 15px;
  background-image: url("../img/credit-card (1).png");
  background-repeat: no-repeat;
}

.additional-info {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  color: #B2B2B2;
}

.main-footer {
  font-family: "Times New Roman", Georgia, serif;
  font-size: 20px;
  line-height: 45px;
  font-weight: 400;
  color: #F1CDB3;
  background-color: #4F4139;
  background-image: url("../img/footer-dog.jpg");
  background-position: right bottom;
}

.main-footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 45px;
}

.first-column {
  width: 270px;
  margin-right: 180px;
}

.second-column {
  width: 265px;
}

.main-footer h2 {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #FFFFFF;
}

.main-footer li {
  list-style: none;
}

.shelter-email {
  position: relative;
  padding-left: 20px;
}

.shelter-email::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 30px;
  top: 10px;
  left: -40px;
  background-image: url("../img/envelope.png");
  background-repeat: no-repeat;
}

.shelter-number {
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
}

.shelter-number::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 31px;
  top: 23px;
  left: -40px;
  background-image: url("../img/telephone.png");
  background-repeat: no-repeat;
}

.boston {
  position: relative;
  margin-top: -13px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 8px;
}

.boston p {
  padding: 0;
  margin: 0;
  margin-top: -20px;
}

.boston::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 38px;
  top: 15px;
  left: -47px;
  background-image: url("../img/pin.png");
  background-repeat: no-repeat;
}

.london {
  position: relative;
  margin-left: 8px;
  margin-top: 6px;
}

.london::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 38px;
  top: 5px;
  left: -47px;
  background-image: url("../img/pin.png");
  background-repeat: no-repeat;
}

.inner-page .container {
  padding-bottom: 60px;
}

.inner-header {
  padding-bottom: 23px;
}

.inner-header .main-navigation {
  padding: 0;
  padding-top: 30px;
}

.inner-navigation a {
  color: #545454;
}

.inner-navigation .active {
  border-bottom: 3px solid #F1CDB3;
}

.inner-navigation a:hover {
  color: #292929;
}

.inner-pets h2 {
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 30px;
}

.inner-page .pets-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.inner-page .pet {
  margin: 0;
  margin-bottom: 35px;
}

.inner-page .pet:not(.sophia):not(.freddie) {
  margin-right: 30px;
}

.pagination-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 402px;
  margin-top: 27px;
}

.pagination-list li {
  list-style: none;
  margin-right: 18px;
}

.pagination-list a {
  padding: 13px 18px;
  border: 2px solid #F1CDB3;
  text-decoration: none;
  font-family: "Times New Roman", Georgia, serif;
  font-size: 20px;
  line-height: 57px;
  font-weight: 400;
  color: #292929;
  background-color: #F6F6F6;
  border-radius: 50%;
}

.pagination-list a:hover {
  background-color: #F1CDB3;
}

.pagination-list .active {
  background-color: #F1CDB3;
}

.more-pages {
  margin: 0;
  padding: 0;
}

.more-pages .ellipsoids {
  position: relative;
  border: 2px solid #FFFFFF;
  font-size: 0;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  margin-right: 7px;
}

.ellipsoids::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -7px;
  width: 21px;
  height: 5px;
  background-image: url("../img/ellipsoids.png");
}

.last-page a {
  padding: 0;
  padding: 13px;
}

.modal {
  position: fixed;
  z-index: 10;
  display: none;
}

.modal-jennifer,
.modal-charly {
  top: 100px;
  left: 50%;
  margin-top: 20px;
  width: 970px;
  margin-left: -400px;
}

.jennifer-wrapper,
.charly-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAFAFA;
  border-radius: 7px;
  -webkit-box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
  box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
}

.pet-description {
  padding-left: 55px;
  width: 420px;
}

.pet-description h2,
.pet-description h3 {
  font-family: Georgia, "Times New Roman", serif;
  color: #545454;
}

.pet-description h2 {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
}

.pet-description h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.pet-description p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #4C4C4C;
}

.pet-characteristics {
  color: #545454;
  padding: 0;
  padding-left: 13px;
}

.pet-characteristics li {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 34px;
  font-weight: 400;
  list-style: none;
}

.pet-characteristics li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 15px;
  left: -13px;
  background-color: #F1CDB3;
  border-radius: 50%;
}

.pet-characteristics span {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 17px;
  line-height: 34px;
  font-weight: 500;
}

.modal-close {
  position: absolute;
  top: -52px;
  right: -55px;
  width: 48px;
  height: 48px;
  font-size: 0;
  border: 0;
  background: none;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
}

.modal-close:hover {
  background-color: #F1CDB3;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 13px;
  width: 18px;
  height: 2px;
  background-color: #292929;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  -o-animation: bounce 0.6s;
  animation: bounce 0.6s;
}
